// colors
$page-bg-color: #353535;
$button-bg-color: #453541;
$bg-color: #353535;
$accent-color: #453541;
$border-color: #3C6E71;
$txt-color: #D9D9D9;
$link-color: #C4A29E;

$main-font: "Courier New", Monospace;

.page {
  background-color: $page-bg-color;
  font-family: $main-font;
}

.md-body {
  padding: 5px 15px 5px 15px;
}

.md-body > p > img {
  width: auto;
}

p {
  font-size: 14px;
}

ul {
  font-size: 14px;
}

a {
  transition: color 0.2s ease;
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $txt-color;
  }
}

//----------------------------------------
// Boxes (i.e. sections)

.base-box {
  color: $txt-color;
  padding: 5px;
}

@mixin not-head-box-borders {
  background-color: $bg-color;
  border-width: 2px;
  border-color: $border-color;
}

.box {
  @extend .base-box;
  @include not-head-box-borders;
  border-style: solid dashed dashed solid;
}

.foot-box {
  @extend .base-box;
  @include not-head-box-borders;
  border-style: dashed dashed solid solid;
}

.head-box {
  @extend .base-box;  
  padding: 15px;
}

@media only screen and (max-width: 600px) {
  .md-body > p > img {
    width: 100%;
  }
}


//----------------------------------------
// Nav Bar

#tippytop {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 5px;
}

#navbuttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

.navbutton { 
  min-height: 1.25rem;
  max-height: 2.2rem;
}

.navbutton > pre > a {
  color: $link-color;
  background-color: $bg-color;
  //height: 100%;
  font-size: 16px;
  text-decoration: none;
  padding: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-size: 5px;
  transition: color 0.2s ease;
  transition: background-color 0.2s ease;
  transition: border-color 0.2s ease;
  display: flex;
  justify-content: center;
  position: relative;
  &:hover {
    color: $txt-color;
    background-color: $button-bg-color;
    border-color: $border-color;
    z-index: 2;
  }
}

#navbar-links {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  border-style: solid;
  border-width: 2px;
}

#navbar-links > img {
  width: auto;
  height: auto;
}


//----------------------------------------
// Footer

.footer_box {  
  font-size: 13px;
  color: $txt-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.footer_box > p {
  margin: 0px;
  text-align: center;
}

.footer_box > p > a {
  color: $link-color;
  text-decoration: none;
  transition: color 0.2s ease;
  &:hover {
    color: $txt-color;
  }
}

.footer_box > img {
  width: 100%;
}
