$page-bg-color: #FBFBFB;
$button-bg-color: #CBF6EA;
$bg-color: #FBFBFB;
$accent-color: #97EDD4;
$border-color: #97EDD4;
$txt-color: #000000;
$link-color: #F679E5;

$main-font: "Courier New", Monospace;
