@import 'colors.scss';
@import 'markdown.css';

#about {
  position: fixed;
  top: 30%;
  right: 15px;
  z-index: -1;
  max-width: 950px;
  width: 50%;
}

#about p {
  //background-color: $border-color;
  color: $txt-color;
  font-size: 16px;
}

#crossing-buttons {
  border-style: solid;
  border-color: $txt-color;
  border-width: 1px;
  position: fixed;
  top: 10px;
  right: 5px;
  display: flex;
  flex-direction: column;
  margin: 5px 15px;
}

#crossing-buttons button {
  font-size: 20px;
  color: $txt-color;
  border-style: none;
  min-width: 100px;
  text-align: right;
  &:hover {
    background-color: #d8d4d4;
  }
}

#crossing-pages-box {
}

.page-box {
  margin: 0 0 20px 0;
}

.page-title {
  font-size: 24px;
  background-color: $border-color;
}

.page-source {
  background-color: $bg-color;
}

.screenshot-link img {
  max-width: 60%;
  border-style: solid;
  border-color: $txt-color;
  border-width: 1px;
}

a {
  color: $txt-color;
  transition: color 0.2s ease;
  &:hover {
    color: $link-color;
  }
}
