.ind-body {
  display: grid;
  grid-template-areas:
    "ind-beg ind-beg"
    "ind-inner ind-inner";
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
}

.ind-beg {
  grid-column: 1 / span 2;
}

.ind-inner {
  display: flex;
  justify-content: center;
  align-content: center;
}
