@import 'colors.scss';
@import 'markdown.css';

#page {
  font-family: $main-font;
  display: grid;
  grid-template-areas:
    "message-links picture-scroll"
    "footer footer";
  grid-template-columns: 1fr 1fr;
  padding: 5%;
}

#message-links {
  padding: 5%;
}

#picture-scroll {
  height: 80vh;
  border-style: solid;
  border-color: $txt-color;
  overflow-y: auto;
}

#picture-scroll img {
  width: 100%;
}

@media only screen and (max-width: 850px) {
  #page {
    grid-template-areas:
      "message-links"
      "picture-scroll"
      "footer";
    grid-template-columns: 1fr;
    padding: 5%;
  }
}
