@import 'colors.scss';
@import 'markdown.css';

#page {
  font-family: $main-font;
}

#message-links {
  padding: 5%;
  position: fixed;
  z-index: 1;
}

#message-links p {
  background: $border-color;
  font-size: 20px;
}

#message-links h1 {
  background: $border-color;
}

#message-links h2 {
  background: $border-color;
}

#message-links h3 {
  background: $border-color;
}

#message-links h4 {
  background: $border-color;
}

#message-links h5 {
  background: $border-color;
}

#message-links ul {
  background: $border-color;
  font-size: 20px;
}


#picture-scroll {
  padding: 5%;
  position: static;
  z-index: 0;
}

.picture-scroll-img {
  position: relative;
  left: 50%;
  width: 50%;
}
