@import 'colors.scss';
@import 'markdown.css';

#message-links {
  padding: 5%;
  position: fixed;
  z-index: 1;
  max-width: 50%;
}

#picture-scroll {
  padding: 5%;
  position: static;
  z-index: 0;
}

.picture-scroll-img {
  position: relative;
  left: 50%;
  width: 50%;
}
