// css that applies to whole site

body {
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 1rem 1rem;
}

#centered {
  display: flex;
  justify-content: center;
}

.main_container {
  display: grid;
  grid-template-areas:
   "head head"
   "navbar main"
   "foot foot";
  grid-template-columns: 1fr 4fr;
  gap: 6px;
  width: 85%;
  min-width: 950px;
}

.head {
  grid-area: head; 
}

.navbar {
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  grid-area: navbar;
  max-width: 100%;
}

.main {
  grid-area: main;
  min-height: 800px;
}

.foot {
  grid-area: foot;
}

@media only screen and (max-width: 600px) {
  .navbar {
    display: none;
  }


  .main_container {
    padding: 0px;
    grid-template-areas:
     "head"
     "navbar"
     "main"
     "foot";
    grid-template-columns: 1fr;
    min-width: 0px;
    gap: 0px;
  }

  .main {
    min-width: 0px;
  }

  body {
    padding: 0px;
  }
}
