<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "p5js sketch" %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.0/p5.min.js"></script>
    <%= yield_content :javascript %>
<style>

body {
  margin:0px;
  padding:0px;
  font-family: Tahoma, Verdana, sans-serif;
}

#canvasId {
  position: absolute;
  z-index:0;
  width:100%;
  min-height:100%;
  height:100%;
  margin:0px;
  padding:0px;
}

<%= yield_content :extra_style %>

</style>
  </head>
  <body>
    <div id="canvasId"></div>
    <%= yield %>
  </body>
</html>
