<% content_for :footer do %>
  <div class="footer_box">
    <div class="link-section">
      <a href="<%= data.mystuff.links.github.link %>" target="_blank">
        <img src="<%= data.mystuff.links.github.image %>"></img>
      </a>
      <!-- blinkies cafe link -->
      <a href='https://blinkies.cafe' target='_blank'>
        <img src='https://blinkies.cafe/b/display/blinkiesCafe-badge.gif' alt='blinkies.cafe | make your own blinkies!'>
      </a>
      <!-- nekoweb.org link -->
      <a href="https://nekoweb.org/" target="_blank">
        <img src="https://nekoweb.org/assets/buttons/button6.gif">
      </a><!-- button by s1nez.nekoweb.org -->
      <a href="<%= data.mystuff.links.spotify.link %>" target="_blank">
        <img src="<%= data.mystuff.links.spotify.image %>"></img>
      </a>
    </div>
    <div class="other-section">
      <img src="images/gifs/sparkles.gif"></img>
      <p>♡2025 by reallygoodprogrammer.<br>Copying Art is an act of love. Love is not subject to law.</p>
      <img src="images/gifs/sparkles.gif"></img>
    </div>
  </div>
<% end %>
