<% content_for :footer do %>
  <div class="footer_box">
    <div class="link-section">
      <% data.mystuff.links.each do |l| %>
        <a href="<%= l.link %>" target="_blank">
          <img src="<%= l.image %>"></img>
        </a>
      <% end %>
    </div>
    <div class="other-section">
      <p>
        <a href="https://web.archive.org/web/20240918234950/https://copyheart.org/manifesto/">
          ♡2025 by reallygoodprogrammer.
        </a>
         Copying Art is an act of love. Love is not subject to law.
      </p>
    </div>
  </div>
<% end %>
