<% content_for :header do %>
  <div>
    <pre>                    ░                           ░░    ░ ░░            ░                        ░ ░              ░░     
                    ░       ░   ░              ░      ░░  ░░░        ░░░                      ▓            ░    ░      
@reallygoodprogrammer░          ░    ▓        ░ ░░          ░        ░  ░     ░ ░            ░  ░         ▒▒▒   ░      
   ░░░░   ▒░  ░░░ ░ ░ ░▒    ▒  ░          ░ ░   ░   ▓░░ ░   ▒▒▒ ░░   ▓░     ░ ░          ░░         ░ ░▒▒░░ ▒ ░     ░  
   ░░░░  ▒▒░░░ ▓░░    ▒▒  ▒▒▒  ░      ░░        ▒▒▒▒░░    ░▒▒▒▒░         ░     ░  ▓  ░░░░ ░       ░░░░░░░░ ░▒░░░░░░░   
  ░░  ░░▒▒▒░  ░░░░    ▒▒▒▒▒░▒▒▒▒░ ░  ░  ▓     ▒▒  ░▒ ░░▒▒▒▒  ░▒▒▒  ░ ░░  ▒ ▒▒▒░▒     ░    ░    ▒▒░░░░░▒░ ░░░▒░░░░▓  ░  
░░░▓ ▒▒▒▒░░░  ░░░░  ░  ▒    ▒░     ░      ░   ▒ ░  ▒ ░▒▒▒▒ ░  ░ ░▒    ░░ ▒▒▒▒▒▒▒▒ ▒░░    ░░▒ ▒▒░▒ ░▓░ ▒░░░░▒ ░░░░░     
░░░ ▒▒  ░░░░░░░ ▒▒░   ░    ░▒  ▓      ░      ░░░  ▒▒▒   ░░░ ▓    ▒ ░   ░ ░░▒▒     ▒░  ▓░  ▒░ ░░▒░ ░ ░    ░ ▒▒  ▒▒▒░░ ░ 
 ░ ░ ░░░ ░░▓░░ ░▒▒   ░░     ▒     ▒ ▒▒▒▒░   ░ ░ ▓ ▒▒░  ░░ ░░░   ▒ ░░ ▓░ ░  ▒  ░░  ▒░  ░░░░░ ░░ ▒░ ░░ ░ ░  ░░▒  ░ ▒ ░░░ 
  ░░░   ░▒▒░ ░  ▒▒▒▒▒░  ░ ░   ░ ░▒░   ▒▒  ░░░░░░  ░░ ░░     ░     ░      ▒▒  ░   ▒░▒▒▒▒░░░ ░ ░▒▒▒░░ ░ ░    ░░▒    ░ ░  
 ░    ░░ ▒▒░ ░ ░▒ ░ ▒▒░ ░░ ░░   ▒ ░   ▒▒▒▒  ░░░░▒   ░░ ░  ░▒▒ ░      ░ ▒ ▒▒ ░░   ▒▒░░▒▒░  ░░ ▒▒▒▒▒▒▒ ░      ░▒▒▒  ░    
 ░    ░░ ▒  ░░ ░ ░ ▒░  ░░▓░    ▒   ░░  ░░▒░ ░ ░▒▒░ ░ ░    ░ ░▒░▒░▒ ▒░▒      ░    ░ ░ ▒   ░  ▒▒ ░░▒░░░    ▓ ░ ▒░   ░    
 ░    ░  ▒     ░     ░░     ░ ░░ ░ ░ ░ ░░▒▒▒▒▒▒▒        ▓        ░░         ░     ░   ▒▒▒▒▒▒  ░░░        ░   ░         
      ░  ▒       ░  ░ ░░ ░ ░    ░ ░ ░       ░░                              ░░░░ ░  ░    ░    ░░       ░               </pre>
  </div>
<% end %>
