<% content_for :header do %>
 <pre>welcome, <a href="index.html">go home</a>
welcome, <a href="index.html">go home</a>

welcome, <a href="index.html">go home</a>
welcome, <a href="index.html">go home</a>
  <div id="header-data">
  </div>
<% end %>
