<% content_for :navbar do %>
  <div>
    <img src="images/gifs/sparkles.gif"></img>
    <pre class="navtitle">        ▓▓▓\\ ▓▒▒▒▒▒   ▓▓▓▓▓▓_  ▓▓▓▓▓░░ ▓▓▓▓▓▓        
       ░▓▓│░▓ ▓▒   ▒   ▓│  ___▒▒▓▓▒▒▒ │  ▓▓░          
  ░░ ░  ▒▓▓/▒ ▓▒▒▒▒▒▒▒▒▓│ │  │  ▓░░░▒▒    ▓▓▓▓        
       ▒▓▓│   ▓▒ ▓▒▒   ▓│▓▓▓▓│  ▓▓▓▓▓░░▓▓▓▓▓▓▓▒▒░▒▒▒  </pre>
    <img src="images/gifs/sparkles.gif"></img>
    <% 
        sitemap.resources.select { 
          |r| r.path.ends_with?(".html") && !r.path.include?("/")
        }.each do |r| 
    %>
    <div class="navbutton">
      <a href="<%= r.url %>"><%= r.path.gsub('main_pages/','').gsub('.html','') %></a>
    </div>
  <% end %>
  </div>
<% end %>
