<% content_for :navbar do %>
  <div id="tippytop">
    <div id="pages">
      <br>
      <br>
      <div id="navbuttons">
        <% 
            sitemap.resources.select { 
              |r| r.path.ends_with?(".html") && !r.path.include?("/")
            }.each do |r| 
        %>
          <div class="navbutton">
            <a href="<%= r.url %>">/<%= r.path.gsub('index','home').gsub('.html','') %></a>
          </div>
        <% end %>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div>
    <div id="navbar-links">
      <% data.links.each do |l| %>
        <%= l.a_tag %>
      <% end %>
      <% 
          sitemap.resources.select { 
            |r| r.path.starts_with?("images/buttons/")
          }.each do |r| 
      %>
        <img src="<%= r.url %>"></img>
      <% end %>
    </div>
    <img src="images/gifs/crossing.gif" style="width:100%;"></img>
  </div>
<% end %>
