<% content_for :navbar do %>
  <div id="tippytop">
    <div id="pages">
      <div id="navbuttons">
        <% 
            sitemap.resources.select { 
              |r| r.path.ends_with?(".html") && !r.path.include?("/")
            }.each do |r| 
        %>
          <div class="navbutton">
            <pre><a href="<%= r.url %>">  /<%= r.path.gsub('index','home').gsub('.html','') %>  </a></pre>
          </div>
        <% end %>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div>
    <p style="width:100%;text-align:center;">--&gt; i love <a style="text-decoration:none;" href="https://nekoweb.org/">NEKOWEB!!!</a></p>
    <div id="navbar-links">
      <% 
          sitemap.resources.select { 
            |r| r.path.starts_with?("images/buttons/")
          }.each do |r| 
      %>
        <img src="<%= r.url %>"></img>
      <% end %>
    </div>
    <img src="/images/gifs/crossing.gif" style="width:100%;"></img>
  </div>
<% end %>
