<% content_for :navbar do %>
  <div id="navsketch"></div>
  <div id="tippytop">
    <div id="pages">
      <h3 style="text-align:center;">pages</h3>
      <div id="navbuttons">
        <% 
            sitemap.resources.select { 
              |r| r.path.ends_with?(".html") && !r.path.include?("/")
            }.each do |r| 
        %>
          <div class="navbutton">
            <a href="<%= r.url %>">/<%= r.path.gsub('index','home').gsub('.html','') %></a>
          </div>
        <% end %>
      </div>
    </div>
  <div id="atabook" style="height:450px;width:260px;">
     <iframe src="https://saplove.atabook.org/" description="atabook" style="transform:scale(0.8);transform-origin:0px 0px;width:123%;height:123%;"></iframe>
  </div>
  </div>
<% end %>
