---
title: Happy Mothers Day!
layout: p5js_page
---

<% content_for :javascript do %>
  <%= javascript_include_tag "mothersday_2025" %>
<% end %>

<% content_for :extra_style do %>

h2 {
  text-align: center;
}

#letter-container {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  min-height: 85%;
}

#letter {
  margin: 30px;
  padding: 50px;
  background-color: #F4A5AEC0;
  z-index: 1; 
  min-width: 300px;
  max-width: 550px;
  border-style: solid;
  border-color: #A8577E;
  border-width: 5px;
}

#letter > img {
  width: 100%;
}
<% end %>

<div id="letter-container">
  <div id="letter">
    <img src="https://web.archive.org/web/20000919082116/http://www.geocities.com:80/HotSprings/Resort/4843/vineflowers.gif"></img>
    <%= md_link "for_mom/_mothersday_2025.md" %>
    <img src="https://web.archive.org/web/20000919082116/http://www.geocities.com:80/HotSprings/Resort/4843/vineflowers.gif"></img>
  </div>
</div>
