---
title: saploves u
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "basic" %>
<% end %>

<%= partial "partials/header" %>
<%= partial "partials/navbar" %>
<%= partial "partials/footer" %>

<div>
  <h1>
    i hi u
  </h1>
  <p>hello and goodbye cause john cena</p>
</div>
