---
title: landing
layout: landing
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "landing" %>
<% end %>

<div id="message-links" >
  <div class="md-body">
    <%= md_link "_landing.md" %>
  </div>
</div>

<div id="picture-scroll">
</div>
