---
title: landing
layout: landing
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "landing" %>
<% end %>

<div id="page">
  <div id="message-links" >
    <div class="md-body">
      <%= md_link "_landing.md" %>
    </div>
  </div>

  <div id="picture-scroll">
    <%
      sitemap.resources.select {
        |r| r.path.starts_with?("images/landing_pics/")
        }.each do |r|
    %>
      <img src="<%= r.url %>"></img>
    <% end %>
  </div>
</div>
